#paint{
    z-index: 1;
}
.mid-one{
    display: none;
    width:380px;
    height:500px;
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-190px;
    margin-top:-190px;
    font-family:Arial, "Droid Sans", "Hiragino Sans GB", "Microsoft YaHei";
    z-index: 10;
    background: rgba(44, 44, 44, 0.9);
}
.page-bottom{
    width:40px;
    height:29px;
    position:absolute;
    top:94%;
    left:50%;
    margin-left:-20px;
}
@keyframes a{
    0%{
        opacity:1;
    }
    80%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
.bottom-logo{
    width:40px;
    position:absolute;
    margin-left:-20px;
    left:50%;
    animation:a 6s linear infinite alternate;
}
.login-logo{
    height:25px;
    position:fixed;
    top:13px;
    left:25px;
}
body{
    overflow: hidden;
}
.all-input{
    width:276px;
    margin-top:-19px;
    margin-left:-150px;
    border-bottom:1px solid #E3E3E3;
    border-radius:3px;
    outline:0;
    padding:11px 10px 11px 13px;
    background:#F5F5F5;
    position:absolute;
    left:50%;
}
.uname{
    top:20%;
}
.pnumber{
    top:35%;
}
.upwd{
    top:50%;
}
.checkpwd{
    top:65%;
}
.title{
    position:absolute;
    width:276px;
    margin-top:-19px;
    margin-left:-150px;
    left:50%;
}
.for-uname{
    top:16%;
}
.for-pnumber{
    top:31%;
}
.for-upwd{
    top:46%;
}
.for-checkpwd{
    top:61%;
}
.mid-one-title{
    position:absolute;
    top:3%;
    left:0;
    width:380px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.btn{
    width:300px;
    height:38px;
    border:none;
    margin-left:-150px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
}
.btn-register{
    position:absolute;
    top:87%;
    left:50%;
    color:#FFF;
    background:#43A159;
}
.btn-upload{
    position:absolute;
    top:74%;
    left:50%;
    color:#FFF;
    background:#666666;
}
.btn-upload:hover{
    opacity: 0.8;
}
.btn-register:hover{
    background:rgba(90,225,125,0.9);
}
.span-for-uname{
    color: darkred;
    position:absolute;
    left:74%;
    top:18%;
}
.span-for-pnumber{
    color: darkred;
    position:absolute;
    left:74%;
    top:33%;
}
.span-for-upwd{
    color: darkred;
    position:absolute;
    left:74%;
    top:48%;
}
.span-for-checkpwd{
    color: darkred;
    position:absolute;
    left:74%;
    top:63%;
}
.show{
    display:block ;
}
.btn-takePicture{
    position:absolute;
    top:15%;
    left:50%;
    color:#FFF;
    background:#B01F24;
}
.btn-chosePicture{
    position:absolute;
    top:30%;
    left:50%;
    color:#FFF;
    background:#B01F24;
}
.btn-takePicture:hover{
    background:rgba(240,31,36,0.8);
}
.btn-chosePicture:hover{
    background:rgba(240,31,36,0.8);
}
.btn-dragUpload{
    position:absolute;
    top:45%;
    left:50%;
    color:#FFF;
    background:#B01F24;
}
.btn-dragUpload:hover{
    background:rgba(240,31,36,0.8);
}
.btn-back{
    position:absolute;
    top:60%;
    left:50%;
    color:#FFF;
    background:#B01F24;
}
.btn-back:hover{
    background:rgba(240,31,36,0.8);
}
.video{
    width:320px;
    height:240px;
    position:absolute;
    top:10%;
    left:50%;
    margin-left:-160px;
    z-index: 1;
}
.video-show{
    z-index: 2;
}
.shutter{
    position:absolute;
    top:70%;
    left:50%;
    color:#FFF;
    background:#4D76B3;
}
.shutter:hover{
    background:rgba(77,118,255,0.9);
}
.drop-photograph{
    position:absolute;
    top:80%;
    left:50%;
    color:#FFF;
    background:#4D76B3;
}
.drop-photograph:hover{
    background:rgba(77,118,255,0.9);
}
.hidden{
    display: none;
}
.btn-confirm{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    top:75%;
    left:30%;
    color:#FFF;
    background:#4D76B3;
}
.btn-confirm:hover{
    background:rgba(77,118,255,0.9);
}
.btn-swat{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    top:75%;
    left:70%;
    color:#FFF;
    background:#4D76B3;
}
.btn-swat:hover{
    background:rgba(77,118,255,0.9);
}
.avatar-container{
    width: 120px;
    height:120px;
    border: solid 1px #666;
    position:absolute;
    box-sizing: border-box;
}
img.avatar{
    width:100%;
    height: auto;
}
.selected{
    border: 2px solid darkred;
}
.avatar-confirm{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    top:75%;
    left:30%;
    color:#FFF;
    background:#4D76B3;
}
.avatar-confirm:hover{
    background:rgba(77,118,255,0.9);
}
.avatar-cancel{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    top:75%;
    left:70%;
    color:#FFF;
    background:#4D76B3;
}
.avatar-cancel:hover{
    background:rgba(77,118,255,0.9);
}
.drag-upload{
    width: 300px;
    height: 100px;
    position: absolute;
    left:50%;
    top: 3%;
    margin-left: -150px;
    border:1px solid darkred;
    line-height: 102px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.drag-show{
    width: 300px;
    height: 200px;
    position: absolute;
    left:50%;
    top: 30%;
    margin-left: -150px;
    border:1px solid darkred;
    line-height: 200px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.btn-drag-confirm{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    left:30%;
    top:75%;
    color:#FFF;
    background:#403E3E;
}
.btn-drag-confirm-active{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    left:30%;
    top:75%;
    color:#FFF;
    background:#4D76B3;
}
.btn-drag-confirm-active:hover{
    background:rgba(77,118,255,0.9);
}
.btn-drag-cancel{
    width:120px;
    height:38px;
    border:none;
    margin-left:-60px;
    border-radius:2px;
    outline:0;
    transition:all 0.5s;
    cursor:pointer;
    position:absolute;
    top:75%;
    left:70%;
    color:#FFF;
    background:#4D76B3;
}